<table>
    <tr>
        <td>
            <label class="required">車輛編號:</label>
        </td>
        <td>
            <input name="CarID" id="CarID" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[4]'">
        </td>
        <td>
            <label>車牌號碼:</label>
        </td>
        <td>
            <input name="CarNO" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[20]'">
        </td>
    </tr>
    <tr>
        <td>
            <label>車型:</label>
        </td>
        <td>
            <input name="CarKind" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[20]'">
        </td>
        <td>
            <label>品牌:</label>
        </td>
        <td>
            <input name="CarBrand" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[20]'">
        </td>
    </tr>
    <tr>
        <td>
            <label>驗車時間:</label>
        </td>
        <td>
            <input name="CheckDT" class="easyui-datebox" style="width:auto">
        </td>
        <td>
            <label>油品:</label>
        </td>
        <td>
            <input name="Oil" class="easyui-textbox" style="width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label>載重極限:</label>
        </td>
        <td>
            <input name="LoadLimit" class="easyui-textbox" style="width:auto">
        </td>
        <td>
            <label>載重安全值:</label>
        </td>
        <td>
            <input name="LoadSafety" class="easyui-textbox" style="width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label>材積重極限:</label>
        </td>
        <td>
            <input name="ValueMax" class="easyui-textbox" style="width:auto">
        </td>
        <td>
            <label>材積重安全值:</label>
        </td>
        <td>
            <input name="ValueSafe" class="easyui-textbox" style="width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label>箱體長度:</label>
        </td>
        <td>
            <input name="BoxLength" class="easyui-textbox" style="width:auto">
        </td>
        <td>
            <label>箱體寬度:</label>
        </td>
        <td>

            <input name="BoxWidth" class="easyui-textbox" style="width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label>箱體高度:</label>
        </td>
        <td>
            <input name="BoxHeight" class="easyui-textbox" style="width:auto">
        </td>
        <td>
            <label>停用日期:</label>
        </td>
        <td>
            <input name="StopDT" class="easyui-datebox" style="width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label>備註:</label>
        </td>
        <td>
            <input name="ReMark" class="easyui-textbox" style="width:auto" data-options="multiline:'true',validType:'maxLength[100]'">
        </td>
    </tr>
</table>
