.f2 {
	font-size: 2mm;
}

.f3 {
	font-size: 3mm;
}

.f35 {
	font-size: 3.5mm;
}

.f4 {
	font-size: 4mm;
}

.f45 {
	font-size: 4.5mm;
}

.f5 {
	font-size: 5mm;
}

.f55 {
	font-size: 5.5mm;
}

.f6 {
	font-size: 6mm;
}

.f65 {
	font-size: 6.5mm;
}

.f7 {
	font-size: 7mm;
}

.f75 {
	font-size: 7.5mm;
}

.f8 {
	font-size: 8mm;
}

.f85 {
	font-size: 8.5mm;
}

.f9 {
	font-size: 9mm;
}

.f95 {
	font-size: 9.5mm;
}
