<table>
	<tr>
		<td>
			<label class="required">區域代號:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="AreaNo" id="AreaNo" class="easyui-textbox" required style="width:auto" data-options="validType:'maxLength[20]'">
				<input type="hidden" name="ID" class="easyui-textbox">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label class="required">區域名稱:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="AreaName" class="easyui-textbox" required style="width:auto" data-options="validType:'maxLength[40]'">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label class="required">提單簡碼:</label>
		</td>
		<td>
			<div class="fitem">
				<input name="AreaCode" class="easyui-textbox" required style="width:auto" data-options="validType:'maxLength[2]'">
			</div>
		</td>
	</tr>
</table>
