<table>
    <tr>
        <td>
            <div class="fitem">
                <label>部門代號:</label>
                <input name="DepartNo" id="DepartNo" class="easyui-textbox" style="width:auto" required>
                <label id="DepartNoDisplay"></label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>部門名稱:</label>
                <input name="DepartName" class="easyui-textbox" style="width:auto" required>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>是否啟用:</label>
                <input name="IsActive" id="IsServer" class="easyui-switchbutton" data-options="onText:'是',offText:'否',value:'true'" checked>
            </div>
        </td>
    </tr>
</table>