<table>
    <tr>
        <td>
            <div class="fitem">
                <label>付款方式代碼:</label>
                <input name="CcNo" id="CcNo" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[10]'">
                <input type="hidden" name="ID" class="easyui-textbox" style="width:auto">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>付款方式名稱:</label>
                <input name="CcName" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[20]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>是否啟用:&emsp;&emsp;</label>
                <input name="IsServer" id="IsServer" class="easyui-switchbutton" data-options="onText:'是',offText:'否',value:'true'" checked>
            </div>
        </td>
    </tr>
</table>