<table>
    <tr>
        <td>
            <label>公司代碼:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="CompanyNo" class="easyui-textbox" style="width:auto" required>
                <input type="hidden" name="ID" class="easyui-textbox" style="width:auto">
            </div>
        </td>
        <td>
            <label>公司名稱:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="CompanyName" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[40]'">
            </div>
        </td>
    </tr>
    <tr>
        <td> <label>英文名稱:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="CompanyEName" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[40]'">
            </div>
        </td>
        <td> <label>發票抬頭:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="GuiNa" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[40]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>統一編號:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="GuiNo" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[14]'">
            </div>
        </td>
        <td>
            <label>稅籍編號:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="TaxNo" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[14]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>電話:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Tel" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[20]'">
            </div>
        </td>
        <td>
            <label>傳真:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Fax" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[20]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>中文地址:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="CAddr" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[40]'">
            </div>
        </td>
        <td>
            <label>英文地址:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="EAddr" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[100]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>發票地址:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="GuiAddr" class="easyui-textbox" style="width:auto"  data-options="validType:'maxLength[60]'">
            </div>
        </td>
        <td>
            <label>網址:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Url" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[100]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>網路代號:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="NetWork" class="easyui-textbox" style="width:auto"  data-options="validType:'maxLength[30]'">
            </div>
        </td>
        <td>
            <label>Email:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Email" class="easyui-textbox" style="width:auto"  data-options="validType:'maxLength[30]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>通訊IP:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Ip" class="easyui-textbox" style="width:auto"  data-options="validType:'maxLength[30]'">
            </div>
        </td>
        <td>
            <label>備份IP:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="IpBak" class="easyui-textbox" style="width:auto"  data-options="validType:'maxLength[30]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>是否啟用:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="IsServer" id="IsServer" class="easyui-switchbutton" data-options="onText:'是',offText:'否',value:'true'" checked>
            </div>
        </td>
    </tr>
</table>