@media print {
	@page {
		size:A4 portrait;
		margin: 5mm;
	}

	.landscape {
		margin: -43.5mm;
		transform: rotate(90deg);
		margin-top: 43.5mm;
		/*transform: rotate(90deg);
		transform-origin: bottom left;
		position: absolute;
		top: -100vw;
		left: 0;
		height: 100vw;
		width: 100vh;
		background-color: #000;
		color: #fff;
		overflow: auto;*/
	}
}

.portrait {
	width: 210mm;
	height: 297mm;
}

.landscape {
	width: 297mm;
	height: 210mm;
}

.portrait .half-page {
	width: 210mm;
	height: 147mm;
	position: static;
}

	.portrait .half-page + .half-page {
		border-top: 1px solid #AAA;
	}

.portrait .page-center {
	width: 210mm;
	text-align: center;
}

.landscape .page-center {
	width: 297mm;
	text-align: center;
}
.portrait .hr{
	width:200mm;
	margin-left:5mm;
}

.landscape .hr{
	width:277mm;
	margin-left:10mm;
}
