<div class="fitem">
    <table>
        <tr>
            <td>
                <label>物品代號:</label>
            </td>
            <td>
                <input name="ProductNo" id="ProductNo" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[10]'">
                <input type="hidden" name="ID" class="easyui-textbox" style="width:auto">
            </td>
        </tr>
        <tr>
            <td>
                <label>中文名稱:</label>
            </td>
            <td>
                <input name="ProductName" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[50]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>英文名稱:</label>
            </td>
            <td>
                <input name="ProductEName" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[50]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>英文名稱2:</label>
            </td>
            <td>
                <input name="ProductEName2" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[50]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>價格:</label>
            </td>
            <td>
                <input name="Price" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[8]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>單位:</label>
            </td>
            <td>
                <input name="Unit" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[30]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>納稅方法:</label>
            </td>
            <td>
                <input name="TaxWay" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[30]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>生產國:</label>
            </td>
            <td>
                <input name="Country" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[30]'">
            </td>
        </tr>
        <tr>
            <td>
                <label>H.S.NO:</label>
            </td>
            <td>
                <input name="Hsno" class="easyui-textbox" style="width:auto" data-options="validType:'maxLength[10]'">
            </td>
        </tr>
    </table>
</div>