<table>
    <tr>
        <td>
            <div class="fitem">
                <label>銀行代碼:</label>
                <input name="BankNo" id="BankNo" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[15]'">
                <input type="hidden" name="ID" class="easyui-textbox" style="width:auto">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>銀行名稱:</label>
                <input name="BankName" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[15]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>銀行帳號:</label>
                <input name="BankAcc" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[30]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>帳戶餘額:</label>
                <input name="Balance" class="easyui-textbox" style="width:auto" required>
            </div>
        </td>
    </tr>
</table>