@{
	Layout = "~/Views/Shared/_SelectionjqGrid2.cshtml";
}
<script>
	var url = '/ShdetL/GetGridJSON_ToBillLading1';
	var gridTitle = '正式調派';
	var sortName = 'ShdetNo';
	var model = [
		{
			name: 'RowNumber', label: 'RowNumber', search: false, key: true, hidden: true
		},
		{
			name: 'LadingNo', label: '調派編號', search: true, hidden: true
		},
		{
			name: 'DateTimeNow', label: '日期', search: true, hidden: true
		},
		{
			name: 'ShdetNo', label: '調派編號', search: true,
		},
		{
			name: 'CustNo', label: '客戶代號', search: true, hidden: true
		},
		{
			name: 'CustCHName', label: '客戶名稱', search: true,
		},
		{
			name: 'HubNo', label: '路線代號', search: false, hidden: true,
		},
		{
			name: 'HubName', label: '路線', search: true,
			stype: "select",
			searchoptions:
			{
				dataUrl: "Hub/GetGridJSON?sidx=HubNo&rows=1000",
				buildSelect: function (data) {
					return Lib.jqGrid.buildSelect(data, "HubName", "HubName", true);
				},
			},
		},
		{
			name: 'DestNo', label: '目的地', search: false, hidden: true,
		},
		{
			name: 'Dest', label: '目的地', search: true,
			stype: "select",
			searchoptions:
			{
				dataUrl: "Dest/GetGridJSON?sidx=DestNo&rows=1000",
				buildSelect: function (data) {
					return Lib.jqGrid.buildSelect(data, "CName", "CName", true);
				},
			},
		},
		{
			name: 'CarryName', label: '取件名稱', search: true,
		},
		{
			name: 'RedyDate', label: '可收件日期', search: false,
			formatter: 'date', formatoptions: { newformat: "Y-m-d" },
		},
		{
			name: 'RedyTime', label: '可收件時間', search: false,
		},
		{
			name: 'OverTime', label: '超過時間未完成', search: false, hidden: true,
		},
		{
			name: 'CustAddrFull', label: '地址', search: true,
		},
		{
			name: 'CtcSale', label: '聯絡人', search: true,

		},
		{
			name: 'Tel', label: '電話', search: false,

		},
		{
			name: 'PickUpAreaNo', label: '調度區域', search: false, hidden: true
		},
		{
			name: 'PickUpAreaName', label: '調度區域', search: false,
		},
		{
			name: 'SectorName', label: '外務員', search: true,
			stype: "select",
			searchoptions:
			{
				dataUrl: "Sector/GetGridJSON?sidx=SectorNo&rows=1000",
				buildSelect: function (data) {
					return Lib.jqGrid.buildSelect(data, "SectorName", "SectorName", true);
				},
			},
		},
		{
			name: 'SectorPhone', label: '外務員電話', search: false,
		},
		{
			name: 'WeigLevel', label: '貨物類型', search: true,
			formatter: "select",
			editoptions: {
				value: { 'null': "", '0': "0.文件", '1': '1.包裹5KG以下', '2': '2.箱貨5KG以上' }
			},
			stype: "select",
			searchoptions: {
				value: { '-1': "", '0': "0.文件", '1': '1.包裹5KG以下', '2': '2.箱貨5KG以上' }
			}
		},
		{
			name: 'WeigLevelType', label: '貨物類型', search: true, hidden: true,
		},
		{
			name: 'StatNo', label: '叫件站點', search: true, hidden: true,
		},
		{
			name: 'CallStatNo', label: '取件站點', search: true, hidden: true,
		},
		{
			name: 'CallStatName', label: '取件站點', search: true,
			stype: "select",
			searchoptions:
			{
				dataUrl: "Stat/GetGridJSON?sidx=StatNo&rows=1000",
				buildSelect: function (data) {
					return Lib.jqGrid.buildSelect(data, "StatName", "StatName", true);
				},
			},
		},
		{
			name: 'CreatedBy', label: '建單人', search: false,
		},
		{
			name: 'CreatedDate', label: '建單時間', search: false,
			formatter: 'date', formatoptions: { srcformat: "Y-m-dTH:i:s", newformat: "Y-m-d H:i:s" },
		},
		{
			name: 'ShdetDate', label: '調派時間', search: false,
			formatter: 'date', formatoptions: { srcformat: "Y-m-dTH:i:s", newformat: "Y-m-d H:i:s" },
		},
		{
			name: 'IsFinish', label: '完成狀態', search: true,
			edittype: "select",
			editoptions: {
				defaultValue: "true",
				value: { "": "", true: "是", false: "否" },
			}, editrules: { required: true, },
			formatter: "select",
			stype: "select", searchoptions: {
				value: { "": "", true: "是", false: "否" }
			},
		},
		{
			name: 'FinishDate', label: '完成時間', search: false,
			formatter: 'date', formatoptions: { srcformat: "Y-m-dTH:i:s", newformat: "Y-m-d H:i:s" },
		},
		{
			name: 'IsCancel', label: '取消狀態', search: true,
			edittype: "select",
			editoptions: {
				defaultValue: "true",
				value: { "": "", true: "是", false: "否" },
			}, editrules: { required: true, },
			formatter: "select",
			stype: "select", searchoptions: {
				value: { "": "", true: "是", false: "否" }
			},
		},
		{
			name: 'CancelDate', label: '取消時間', search: false,
			formatter: 'date', formatoptions: { srcformat: "Y-m-dTH:i:s", newformat: "Y-m-d H:i:s" },
		},
		{
			name: 'CancelBy', label: '取消人', search: false,
		},
		{
			name: 'sNo', label: '序號', search: false, hidden: true,
		},
		{
			name: 'CarID', label: '車輛代號', search: false, hidden: true,
		},
		{
			name: 'OverWeig', label: '是否超重', search: false, hidden: true,
		},
		{
			name: 'OveriTotNum', label: '是否超材積', search: false, hidden: true,
		},
		{
			name: 'Clerk', label: '業務專員', search: false, hidden: true,
		},
		{ name: 'CustAddr', label: '完整地址', editable: true, hidden: true },
		{ name: 'CustENAddr1', label: '英文地址', editable: true, hidden: true },
		{ name: 'Add_1', label: 'add1', hidden: true, },
		{ name: 'Add_2', label: 'add2', hidden: true, },
		{ name: 'Add_3', label: 'add3', hidden: true, },
		{ name: 'Add_4', label: 'add4', hidden: true, },
		{ name: 'Add_5', label: 'add5', hidden: true, },
		{ name: 'Add_6', label: 'add6', hidden: true, },
		{ name: 'Country', label: '國家', hidden: true, },
		{ name: 'CcNo', label: '付款方式', hidden: true, },
		{ name: 'Code5', label: '郵政5碼', hidden: true, },
		{ name: 'ReserveDate', label: '預約日期', hidden: true, },
		{ name: 'EndDate', label: '截止日期', hidden: true, },
		{ name: 'SectorNo', label: '外務員代號', hidden: true, },
		{
			name: 'IsDesp', label: '調派狀態', search: true, hidden: true,
		},
		{
			name: 'IsReply', label: '回覆狀態', search: true, hidden: true,
		},
		{
			name: 'RejectDate', label: '退單時間', search: false, hidden: true,
			formatter: 'date', formatoptions: { srcformat: "Y-m-dTH:i:s", newformat: "Y-m-d H:i:s" },
		},
		{
			name: 'RejectBy', label: '退單人', search: false, hidden: true,
		},
		{
			name: 'CocustomTyp', label: '報關類型', hidden: true
		},
	];
	$("#DataGrid_s").jqGrid("autoWidthColumns").jqGrid({
		caption: gridTitle,
		url: url + "?start_date=" + getToday() + "&end_date=" + getToday(),
		datatype: "json",
		colModel: model,
		sortname: sortName,
		sortorder: "asc",

		shrinkToFit: false,
		autowidth: true,

		pager: "#pager_s",
		pgbuttons: true,
		pginput: true,
		viewrecords: true,
		rowNum: 40,
		rowList: [40, 80, 120, 160],
		hidegrid: false,
		toolbar: [true, "top"],

		altRows: true,
		altclass: "ui-jz-altRow",
		ondblClickRow: function (rowid) {
			pickRowtoForm(fmId, inputFields, inputValues, rowid);
		},
	}).jqGrid("navGrid", "#pager_s",
		{
			edit: false, add: false, del: false,
			search: false, view: false,
		},
		{/*edit*/

		},
		{/*add*/

		},
		{/*del*/

		},
		{/*search*/
		},
		{/*view*/
		}).filterToolbar({
			searchOnEnter: true
		});
	$('#DataGrid_s').setGridParam({ datatype: 'json', url: url, });
	$("#toolbar_s").append(' | <label>收件日期：</label>')
		.append('<input id="searchShdetLDateStart" class="easyui-datebox " style="display:none;width:90px" value="getToday()">')
		.append(' ~ <input id ="searchShdetLDateEnd" class= "easyui-datebox " style = "display:none;width:90px" value="getToday()">')
		.append('<a class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doSearchTarget()"></a>');

	function doSearchTarget() {
		$('#DataGrid_s').jqGrid("setGridParam", {
			url: url + "?start_date=" + $('#searchShdetLDateStart').datebox('getValue') + "&end_date=" + $('#searchShdetLDateEnd').datebox('getValue'),
			datatype: 'json'
		});
		$('#DataGrid_s').trigger('reloadGrid');
	}
	function getToday() {
		var today = new Date();
		return today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
	}
</script>

