<table>
    <tr>
        <td>
            <label class="required">選單文字:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Caption" class="easyui-textbox" style="width:auto" required>
                <input type="hidden" name="ID" class="easyui-textbox" style="width:auto">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="required">排序:</label>
        </td>
        <td>
            <div class="fitem">
                <input name="Sequence" class="easyui-textbox" style="width:auto" required>
            </div>
        </td>
    </tr>
</table>


