<table>
    <tr>
        <td>
            <div class="fitem">
                <label>代號:</label>
                <input name="FeeNo" id="FeeNo" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[20]'">
                <input type="hidden" name="ID" class="easyui-textbox" style="width:auto">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>費用:</label>
                <input name="FeeName" class="easyui-textbox" style="width:auto" required data-options="validType:'maxLength[30]'">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>借貸:</label>
                <input name="Way" class="easyui-switchbutton" data-options="onText:'是',offText:'否',value:'true'" checked>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="fitem">
                <label>備註:</label>
                <input name="Remark" class="easyui-textbox" style="width:auto" data-options="multiline:true,validType:'maxLength[50]'">
            </div>
        </td>
    </tr>
</table>