
<table>
    <tr>
        <td></td>
        <td>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="javascript: $('#fm_q').form('clear');" style="width:90px">重設</a>
        </td>
    </tr>
    <tr>
        <td>
            <div class="radio">
                <label ><input type="radio" name="q_timing" value="CallDate">叫件時間</label>
            </div>            
            
        </td>
        <td>
            <div class="radio">
                <label ><input type="radio" name="q_timing" value="RedyDate">可取件時間</label>
            </div>
        </td>       
    </tr>
    <tr>
        <td colspan="2">
            <input name="q_timing_value" id="q_timing_value" class="easyui-datebox" data-options="showSeconds:false" style="display:none;width:160px">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <label >終止時間</label>            
        </td>      
    </tr>
    <tr>
        <td colspan="2">
            <input name="q_endtime" id="q_endtime" class="easyui-datebox" data-options="showSeconds:false" style="display:none;width:160px">
        </td>
    </tr>
    <tr>
        <td>
            <label >取叫件站點</label>
        </td>
        <td>
            <label >錄入人</label>
        </td>
    </tr>
    <tr>
        <td>
            <input name="q_statid" id="q_statid" class="easyui-textbox" style="display:none;width:auto">
        </td>
        <td>
            <input name="q_shdetby" id="q_shdetby" class="easyui-textbox" style="display:none;width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label >調派狀態</label>
        </td>
        <td>
            <label >完成狀態</label>
        </td>
    </tr>
    <tr>
        <td>
            <input name="q_isdesp" id="q_isdesp" class="easyui-textbox" style="display:none;width:auto">
        </td>
        <td>
            <input name="q_isfinish" id="q_isfinish" class="easyui-textbox" style="display:none;width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label >調度區域</label>
        </td>
        <td>
            <label >外務員</label>
        </td>
    </tr>
    <tr>
        <td>
            <input name="q_pickupareaid" id="q_pickupareaid" class="easyui-textbox" style="display:none;width:auto">
        </td>
        <td>
            <input name="q_sectorid" id="q_sectorid" class="easyui-textbox" style="display:none;width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label >叫件類型</label>
        </td>
        <td>
            <label >付款方式</label>
        </td>
    </tr>
    <tr>
        <td>
            <input name="q_calltype"  id="q_calltype" class="easyui-textbox" style="display:none;width:auto">
        </td>
        <td>
            <input name="q_ccid" id="q_ccid" class="easyui-textbox" style="display:none;width:auto">
        </td>
    </tr>
    <tr>
        <td>
            <label >服務類型</label>
        </td>
        <td>
            <label >叫件客戶</label>
        </td>
    </tr>
    <tr>
        <td>
            <input name="q_hubid" id="q_hubid" class="easyui-textbox" style="display:none;width:auto">
        </td>
        <td>
            <input name="q_custid" id="q_custid" class="easyui-textbox" style="display:none;width:auto">
        </td>
    </tr>

</table>